*, *::after, *::before {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.calendar {
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 2%;
}

.calendar .daysLabel {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(7, 15vh);
  text-align: center;
}

.calendar .daysLabel .day {
  background-color: aliceblue;
  border: 2px solid aqua;
  font-size: min(1vw, 1.8vh);
  text-align: center;
}

.calendar .daysSquares {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(7, 15vh);
  text-align: center;
  margin-top: 10px;
}

.calendar .daysSquares .square {
  display: flex;
  background-color: honeydew;
  padding: 10px;
  font-size: min(5vw, 15vh - 8px);
  width: 15vh;
  height: 15vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(206, 211, 218);
  border-radius: 10%;
  transition: all 0.2s cubic-bezier(0.14, -1.01, 0, 4.47);
}

.calendar .daysSquares .square:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0px 0px 5px grey;
}

.calendar .daysSquares .square1 {
  grid-column-start: 4;
}

.popup {
  position: fixed;
  left: 0px;
  top: 0px;
  margin-top: 10px;
  margin-left: 10px;
}

.popupContent {
  background-color: cornsilk;
  border: 2px solid black;
  width: 15vw;
  height: auto;
}

.popupButton {
  background-color: lightblue;
  float: right;
  padding-right: 4%;
  padding-left: 4%;
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 16px;
}